html, body { height: 100%; }

h1 { font-weight: bolder; color: #2F2F2F; font-size: 48px; letter-spacing: 1.3px; margin-top:20px; margin-bottom:20px }
h3 { font-weight: lighter; color:#838383; font-size: 24px; line-height: 1.4; letter-spacing: .5px; margin-top:20px; margin-bottom:20px}
img { margin-top:20px; margin-bottom:20px}


.vertical-center { min-height: 100%;  /* Fallback for browsers do NOT support vh unit */ min-height: 100vh; /* These two lines are counted as one :-)       */ display: flex; align-items: center; }
.container-jumbo { height: $(document).height(); width: 100%; }
